MetaTrader5
PySide6>=6.7
anthropic
flask>=3.0
joblib
langchain
langchain-anthropic
langchain-community
langchain-openai
matplotlib
numpy
ollama
openai
pandas
psutil>=5.9
pyarrow
pydantic
pyttsx3>=2.90
pyzmq
requests
scikit-learn
tenacity
tensorflow
